@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  width: 100vw;
}

#game {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#cookie {
  height: 100%;
  width: 80%;
  position: relative;
}

#bigCookie-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 256px;
  height: 256px;
  cursor: pointer;
}

#bigCookie-click {
  height: 100%;
  width: 100%;
}

#bigCookie {
  background: url(../images/perfectCookie.png) center;
  background-size: 256px 256px;
  height: 100%;
  width: 100%;
  animation: rotate 100s linear infinite;
}

.secret {
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.normal {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 7%,
    rgba(77, 149, 245, 1) 100%
  );
}
.power-up {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 233, 165, 0.9) 75%,
    rgba(255, 225, 130, 0.9) 90%,
    rgba(255, 210, 67, 0.9) 100%
  );
}

#title {
  font-family: 'Itim', cursive;
  margin-top: 10%;
  padding: 10px 0;
  text-align: center;
  color: azure;
  background: rgba(0, 0, 0, 0.427);
  position: relative;
}

#score {
  font-size: 2.5rem;
}

#score-ps {
  font-size: 1.3rem;
}

.double:first-child {
  position: absolute;
  left: 150px;
  top: 10px;
  font-size: 4rem;
  color: rgb(255, 200, 19);
  display: none;
}
.double:last-child {
  position: absolute;
  left: 550px;
  top: 10px;
  font-size: 4rem;
  color: rgb(255, 200, 19);
  display: none;
}

#upgrades-wrapper {
  height: 100%;
  width: 20%;
  background-color: rgb(98, 119, 155);
  border-left: 7px solid rgb(157, 106, 53);
}

#upgrades-list {
  color: azure;
}

.upgrade-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin: 10px 0;
  border-bottom: 2px solid black;
  position: relative;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8);
  font-family: 'Chango', cursive;
  font-size: 1rem;
  cursor: pointer;
}

.upgrade-item::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  background-image: url('../images/stone.bmp');
  z-index: 0;
}

.no-events {
  pointer-events: none;
  color: rgb(52, 52, 52);
}

#upgrades-list li p {
  z-index: 1;
  padding: 0 20px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
